html, body {
    height: 100%;
    margin: 0;
    background-color: #eaeeef;
    font-size: 1em;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -120px;
    padding: 0;
}

header {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #468c8c;
}

nav li {
    float: left;
}

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 45px;
        text-decoration: none;
        font-size: 1.25em;
    }

        nav li a:hover, .dropdown:hover #dropbtn {
            background-color: whitesmoke;
            color: black;
            font-family: sans-serif;
        }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #468c8c;
    width: 143px;
}

    .dropdown-content a {
        color: white;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: whitesmoke;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #92DC7A;
}

#banner {
    width: 100%;
    max-height: 231px;
    margin-top: 49px;
}

.body {
    margin: 0;
    padding: 0;
}

article {
    margin: 2% 7%;
    padding: 0;
}

    article h1 {
        text-align: center;
        font-size: 3em;
        font-family: sans-serif;
        letter-spacing: 10px;
        color: midnightblue;
        padding: 20px;
        border-style: groove;
        margin: auto 50px;
        margin-bottom: 50px;
    }

#asidetopbar {
    float: left;
    width: 17%;
    background-color: whitesmoke;
    margin-left: 0.5%;
    padding: 5px;
    padding-right: 0;
}

    #asidetopbar li {
        line-height: 50px;
        list-style-type: square;
    }

#content {
    margin: 19%;
    margin-bottom: 5%;
    margin-top: 0%;
    padding: 50px;
    background-color: whitesmoke;
}

.audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-bottom: 20px;
    padding: 20px;
}

    section h1 {
        color: brown;
    }

    section h4 {
        color: dimgray;
        padding: auto;
        margin: auto;
        text-decoration: underline;
    }

img.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
}

.floatleft {
    float: left;
    margin: 0;
    padding-right: 30px;
    padding-top: 30px;
}

.imagefloatleft {
    width: 320px;
    height: 240px;
}

.floatright {
    float: right;
    height: 320px;
    padding-left: 20px;
    margin: 0px;
}

.imagefloatright {
    height: 240px;
    width: 320px;
}

blockquote {
    padding-bottom: 32px;
    margin-top: 0px;
    padding: 20px;
}

#liststyle ul {
    list-style: circle;
    padding-left: 25px;
}

#liststyle li {
    padding-bottom: 20px;
}

video {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 225px;
}

source {
    text-align: center;
}

table {
    margin: 10px 0;
}

table, td, th, tr {
    border-collapse: collapse;
    margin: 0 auto;
    border: double;
}

th {
    background-color: dimgrey;
    padding: 8px 10px;
}

td {
    padding: 0px 20px;
    text-align: right;
}

dd {
    font-style: oblique;
}

#backtotop {
    text-decoration: none;
    color: #841c05;
    border: solid 3px;
    border-style: outset;
    padding: 10px;
}

.footer, .push {
    height: 120px;
}

.footer {
    text-align: center;
    padding-top: 50px;
    background: url(../source/images/footer.gif);
    background-size: 100% 100%;
}

@media only screen and (min-width: 250px) and (max-width: 1000px) {
    html, body {
        height: 100%;
        margin: 0;
        background-color: antiquewhite;
        font-size: 1em;
    }

    .wrapper {
        min-height: 100%;
        margin: 0 auto -120px;
        margin-top: 0;
        padding: 0;
    }

    header {
        width: 100%;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: 0;
        width: 100%;
        position: fixed;
        background-color: black;
    }



    nav li {
        float: left;
    }

        nav li a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 15px 45px;
            text-decoration: none;
            font-size: 1.25em;
        }

            nav li a:hover, .dropdown:hover #dropbtn {
                background-color: whitesmoke;
                color: black;
                font-family: sans-serif;
            }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #468c8c;
        width: 143px;
    }

        .dropdown-content a {
            color: white;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                background-color: whitesmoke;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .active {
        background-color: #92DC7A;
    }

    #banner {
        width: 100%;
        max-height: 231px;
        margin-top: 49px;
    }

    .body {
        margin: 0;
        padding: 0;
    }

    article {
        margin: 2% 7%;
        padding: 0;
    }

        article h1 {
            text-align: center;
            font-size: 3em;
            font-family: sans-serif;
            letter-spacing: 10px;
            color: midnightblue;
            padding: 20px;
            border-style: groove;
            margin: auto 50px;
            margin-bottom: 50px;
        }

    #asidetopbar {
        float: left;
        width: 17%;
        background-color: whitesmoke;
        margin-left: 0.5%;
        padding: 5px;
        padding-right: 0;
    }

        #asidetopbar li {
            line-height: 50px;
            list-style-type: square;
        }

    #content {
        margin: 19%;
        margin-bottom: 5%;
        margin-top: 0%;
        padding: 50px;
        background-color: white;
    }





    section {
        margin-bottom: 20px;
        padding: 20px;
    }

        section h1 {
            color: brown;
        }

        section h4 {
            color: dimgray;
            padding: auto;
            margin: auto;
            text-decoration: underline;
        }

    img.image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    figcaption {
        padding-top: 5px;
        text-align: center;
        font-size: 15px;
    }

    .floatleft {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    .imagefloatleft {
        width: 100%;
        height: 100%;
    }

    .floatright {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    .imagefloatright {
        width: 100%;
        height: 100%;
    }



    blockquote {
        padding-bottom: 32px;
        margin-top: 0px;
        padding: 20px;
    }

    #liststyle ul {
        list-style: circle;
        padding-left: 25px;
    }

    #liststyle li {
        padding-bottom: 20px;
    }

    video {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 225px;
    }

    source {
        text-align: center;
    }

    table {
        margin: 10px 0;
    }

    table, td, th, tr {
        border-collapse: collapse;
        margin: 0 auto;
        border: double;
    }

    th {
        background-color: dimgrey;
        padding: 8px 10px;
    }

    td {
        padding: 0px 20px;
        text-align: right;
    }

    dd {
        font-style: oblique;
    }

    #backtotop {
        text-decoration: none;
        color: #841c05;
        border: solid 3px;
        border-style: outset;
        padding: 10px;
    }

    .footer, .push {
        height: 120px;
    }

    .footer {
        text-align: center;
        padding-top: 50px;
        background: url(../source/images/footer.gif);
        background-size: 100% 100%;
    }
}
