<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my website !</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/mainStyleSheet.css" />
</head>
<body>
	<div id="container">
		<div id="header">
				
			<header>				
            	<nav>
                	<ul>
						<li><a class="active" href="">Home</a></li>
						<li><a href="">Finland</a></li>
                    	<li><a href="Vietnam.html">Vietnam</a></li>
                    	<li><a href="history/History.html">History</a></li>
                    	<li><a href="Top7/topseven.html">Top 7</a></li>
                    	<li><a href="activities/whattodo.html">What to do</a></li>
						<li><a href="../Vietnam/Sports/Sports.html">Sports</a></li>
                	</ul>
            	</nav>		
			</header>	
			<img id="banner" src="source/images/newbanner.jpg" alt="banner" />	
		</div>
	
		<article>
                <h1>Now, let's see my Finland website and my home project website !</h1>             
        </article>
		
		<div id="body">
        <section>
        	<h1> Before browsing the websites, there is somthing I want to let you know</h1>
            <figure>
            	<img class="image" src="../Index\source\image" alt="coding"/>
				<figcaption>Code</figcaption>
            </figure>
            <blockquote>
            	&quot; Vietnam is located in the continent of Asia, it covers 310,070 square kilometers of land and 21,140
                square kilometers of water, making it the 66th largest nation in the world with a total area of 331,210 
                square kilometers.&quot;
            </blockquote>
	
			
	
        	<h1>The population!</h1>
            <blockquote>
				&quot;With an estimated 92.7 million inhabitants as of 2016, it is the world's 14th-most-populous country,
                 and the ninth-most-populous Asian country.&quot; 
			</blockquote>
			<table>
                <tr>
                	<th>Rank</th>
                    <th>Country</th>
                    <th>Population</th>
                </tr>
                <tr>
					<td>&nbsp;</td>
					<td>World </td>
					<td>7,323,187,457</td>
				</tr>
                <tr>
                    <td>1.</td>
                    <td>China</td>
                    <td>1,373,541,278</td>
               	</tr>
                <tr>
                	<td>2.</td>
                	<td>India</td>
                	<td>1,266,883,598</td>
                </tr>
                <tr>
                	<td>3.</td>
                	<td>United States</td>
                	<td>323,995,528</td>
                </tr>
                <tr>
                 	<td>...</td>
                 	<td>...</td>
            		<td>...</td>
               	</tr>
       			<tr>
                	<td><b>14.</b></td>
					<td><b>Vietnam</b></td>
                	<td><b>95,261,021</b></td>
				</tr>
   			</table>
        </section>
			<button id="backtotop" onclick="location.href='Vietnam.html'">Back to top
			</button>

		</div>		
	
		<div id="footer">
	    	<footer>	
				&copy;Thien Ly, 2017<br />
            	Source: <a href="https://en.wikipedia.org/wiki/Vietnam"><cite>https://en.wikipedia.org/wiki/Vietnam</cite></a>
				<br>This website is aiming for studying, not for commercial use !
        	</footer>
		</div>
	
	</div>
</body>
</html>